<?xml version="1.0"?>
<config>
  <modules>
    <HitMyStyle_OtpConfiguration2>
      <version>0.1.0</version>
    </HitMyStyle_OtpConfiguration2>
  </modules>
  <global>
    <helpers>
      <otpconfiguration2>
        <class>HitMyStyle_OtpConfiguration2_Helper</class>
      </otpconfiguration2>
    </helpers>
	<blocks>
	  <otpconfiguration2>
		<class>HitMyStyle_OtpConfiguration2_Block</class>
	  </otpconfiguration2>
	</blocks>
	<models>
	  <otpconfiguration2>
		<class>HitMyStyle_OtpConfiguration2_Model</class>
		<resourceModel>otpconfiguration2_mysql4</resourceModel>
	  </otpconfiguration2>
	  <otpconfiguration2_mysql4>
		<class>HitMyStyle_OtpConfiguration2_Model_Mysql4</class>
		<entities>		  
			  <otpconfiguration>
				<table>hms_otp</table>
			  </otpconfiguration>
        </entities>
	  </otpconfiguration2_mysql4>
	</models>
	<resources>
	  <otpconfiguration2_setup>
		<setup>
		  <module>HitMyStyle_OtpConfiguration2</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </otpconfiguration2_setup>
	  <otpconfiguration2_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </otpconfiguration2_write>
	  <otpconfiguration2_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </otpconfiguration2_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <otpconfiguration2>
	    <use>admin</use>
		<args>
		  <module>HitMyStyle_OtpConfiguration2</module>
		  <frontName>admin_otpconfiguration2</frontName>
		</args>
	  </otpconfiguration2>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <otpconfiguration2 module="otpconfiguration2">
		<title>OtpConfiguration2</title>
		<sort_order>100</sort_order>
		<children>
		  <otpconfiguration module="otpconfiguration2">
		    <title>Manage Otpconfiguration</title>
			<sort_order>0</sort_order>
			<action>admin_otpconfiguration2/adminhtml_otpconfiguration</action>
		  </otpconfiguration>
		</children>
	  </otpconfiguration2>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<otpconfiguration2 translate="title" module="otpconfiguration2">
			  <title>OtpConfiguration2</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <otpconfiguration translate="title">
			<title>Manage Otpconfiguration</title>
			<sort_order>0</sort_order>
		  </otpconfiguration>
			  </children>
			</otpconfiguration2>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<otpconfiguration2>
		  <file>otpconfiguration2.xml</file>
		</otpconfiguration2>
	  </updates>
	</layout>
  </adminhtml>
</config> 